.TodoTemplate {
    width : 528px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 3rem;
    border-radius : 4px;
    overflow : hidden;
    
    .app-title {
        background: #C200FF;
        color : white;
        height : 4rem;
        font-size : 1.5rem;
        display : flex;
        align-items : center;
        justify-content : center;
    }

    .content {
        background : white;
        /*display : flex;
        align-items : center;
        justify-content : center;*/
    }
}
