#root {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 55%;
  position: absolute;
  top: 9%;
  right: 3%;
  flex-wrap: wrap;
  border: 2px solid rgb(0, 0, 0);
}

.desc {
  border: 1px rgb(170, 170, 170) solid;
  width: 80%;
  height: 75%;
  padding: 10px 20px;
  position: relative;
}

.desc-link {
  text-decoration: none;
  color: rgb(255, 94, 0);
  //position: relative;
  cursor: help;
}

.desc-popup {
  position: absolute;
  color: black;
  border: 1px solid black;
  padding: 10px 10px;
  background-color: white;
  animation: fade-in 0.8s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
